[Desktop Entry]
Type=Application
Name=dn
GenericName=Image Browser
X-GNOME-FullName=Dawn Colour-Managed Image Browser
Icon=dn
Exec=dn --browse -- %u
NoDisplay=true
Terminal=false
StartupNotify=true
Categories=Utility;FileTools;
MimeType=inode/directory;
