[Desktop Entry]
Type=Application
Name=dn
GenericName=Image Browser
X-GNOME-FullName=dn Colour-Managed Image Browser
Icon=dn
Exec=dn -- %U
Terminal=false
StartupNotify=true
Categories=Graphics;2DGraphics;Viewer;
MimeType=image/bmp;image/gif;image/png;image/x-tga;image/jpeg;image/webp;image/svg+xml;
