[Desktop Entry]
Type=Application
Name=Dawn JPEG Cropper
GenericName=Image Cropper
X-GNOME-FullName=Dawn JPEG Cropper
Icon=name.janouch.Dawn
Exec=dn --mode=cropjpeg -- %U
Terminal=false
StartupNotify=true
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=image/jpeg;
