[Desktop Entry]
Type=Application
Name=Dawn Lossless JPEG Cropper
GenericName=Lossless JPEG Cropper
X-GNOME-FullName=Dawn Lossless JPEG Cropper
Icon=name.janouch.Dawn
Exec=dn --mode=cropjpeg -- %U
Terminal=false
StartupNotify=true
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=image/jpeg;
